body{
    background-color : #C8D7FF;
}
.title{
    display: flex;
    justify-content:  center;
}
.timer{
    display: flex;
    justify-content: center;
}
.time{
    font-size: 50px;
}
.buttons{
    display: flex;
    justify-content: center;
}
.btn{
    width: 100px;
    height: 50px;
    background-color: aquamarine;
    margin: 10px;
}
.game-screen{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 5em;
}

.box{
    border: 1px solid black;
}